.bak/models/memory_usage/output/pressure/data/1240-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/1620-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-380-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-2000.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/380-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/520-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-660.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-660-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/660-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/800-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-1240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-1240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-380.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-1620.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-520.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-240-800.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-520-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-800-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/2000-240-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-1620-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/pressure/data/240-2000-240.segy filter=lfs diff=lfs merge=lfs -text
.bak/models/memory_usage/output/ex-pressure/data/2000-240-240.segy filter=lfs diff=lfs merge=lfs -text
